.Tab[data-discarded="true"] .body {
    opacity: 1;
}
.Tab[data-discarded="true"] > .body > .fav,
.Tab[data-discarded="true"] > .body > .t-box {
    opacity: 1;
}

#root.root {
    --frame-bg: transparent;
    --ctx-menu-bg: #282828;
}

#nav_bar {background-color: transparent;}
:root{background-color: transparent !important;}